.app {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background-image: url("./kisspng-portal-morty-smith-rick-sanchez-t-shirt-hoodie-portal-5ac4b0cbe2bbd5.4984654015228397559287.png");
	// background-image: url("./401100.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 400px;
	width: 100%;
	// display: none;
}



// @-webkit-keyframes pulse {
//     from   {
//             background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 50%);
//             opacity:1;
//         }
//     to {
//             background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 50%);
//             opacity:0.5;
//         }
// }

// @-moz-keyframes pulse {
//     from   {
//             background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 50%);
//             opacity:1;
//         }
//     to {
//             background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0) 50%);
//             opacity:0.5;
//         }
// }

// body{
//     margin: 0;
//     padding: 0;
//     background: #252525;
// }

// .star {
//     margin: 20px;
//     padding:100px;
//     width: 200px;
//     height:200px;
//      -webkit-animation: pulse 2s ease-in-out infinite alternate;
//      -moz-animation:    pulse 2s ease-in-out infinite alternate;
// 	 width: 100%;
// 	 height: 100%;
// }
