.app {
	width: 100%;
	height: 100%;
	// opacity: .4;
	// filter: blur(4px);

	// background-image: url("./kisspng-portal-morty-smith-rick-sanchez-t-shirt-hoodie-portal-5ac4b0cbe2bbd5.4984654015228397559287.png");
	background-repeat: no-repeat;
	background-position: center center;
	// background-attachment: fixed;
	display: flex;
	align-items: center;
	justify-content: center;

	&:after {
		// content: "";
		height: 100%;
		width: 100%;
		position: absolute;
		background-color: rgba(0, 0, 0, .3);
		z-index: 1000;
	}
}

.img_main {
	position: fixed;
	margin-left: -20px;
}

.negative {
	position: fixed;
	// display: none;
	// border: 1000px solid #14B0C8;
	// border: 1000px solid #fff;
	width: 580px;
	background-color: rgba(#14B0C8, .9);
	// opacity: .8;
	margin: 0;
	margin-top: -32px;
	z-index: 2000;

}

.negative__word {
	background-image: url("./../../rick-and-morty-negative.svg");
	position: fixed;
    background-size: 580px;
	background-color: rgba(#14B0C8, .9);
	opacity: .9;
	animation: scale 3s ease-in-out;
	border-radius: 50%;
	border: 1000px solid white;
	backdrop-filter: blur(4px);
	transform: scale(0);
	display: none;

	&.active {
		display: block;
	}
}

@keyframes scale {
	0% {
		transform: scale(0);
	}
	10% {
		transform: scale(1);
	}
	90% {
		transform: scale(1);
	}
	100% {
		transform: scale(0);
	}
}

.negative__word--rick {
    width: 207px;
    height: 170px;
    margin-left: -372px;
    margin-top: -77px;
}

.negative__word--and {
	width: 82px;
    height: 80px;
    background-position: -209px;
}

.negative__word--morty {
    width: 272px;
    height: 180px;
    background-position: -299px;
}

.wrapper__content {
	width: 100%;
	// height: 100%;
	// background-color: rgba(#39E000, 0.7);
	min-height: 100%;
	position: absolute;
	top: 970%;
	padding: 30px 30px;
	box-sizing: border-box;
}

.content {
	background-color: rgba(0, 0, 0, .4);
	background-color: rgba(255, 255, 255, .7);
	backdrop-filter: blur(20px);
	-moz-backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	box-sizing: border-box;
	width: 100%;
	border-radius: 20px;
	padding: 30px;
	height: 100%;
	min-height: calc(100vh - 60px);
}

.content__icon_mouse {
	border: 1px solid #39E000;
	border-radius: 16px;
	height: 40px;
	width: 24px;
	display: block;
	z-index: 10;
	// opacity: 0.3;
	background: #010303;

	&:after {
		-webkit-animation-name: drop;
		-webkit-animation-duration: 2s;
		-webkit-animation-timing-function: linear;
		-webkit-animation-delay: 0s;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-play-state: running;
		-webkit-animation-name: drop;
				animation-name: drop;
		-webkit-animation-duration: 2s;
				animation-duration: 2s;
		-webkit-animation-timing-function: linear;
				animation-timing-function: linear;
		-webkit-animation-delay: 0s;
				animation-delay: 0s;
		-webkit-animation-iteration-count: infinite;
				animation-iteration-count: infinite;
		-webkit-animation-play-state: running;
				animation-play-state: running;
		content: "";
		position: relative;
		border-radius: 10px;
		background: #39E000;
		width: 2px;
		height: 6px;
		top: 4px;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
}

@-webkit-keyframes drop {
	0% {
	  top: 5px;
	  opacity: 0;
	}
	30% {
	  top: 10px;
	  opacity: 1;
	}
	100% {
	  top: 25px;
	  opacity: 0;
	}
}

@keyframes drop {
	0% {
	  top: 5px;
	  opacity: 0;
	}
	30% {
	  top: 10px;
	  opacity: 1;
	}
	100% {
	  top: 25px;
	  opacity: 0;
	}
}

.content__wrapper__icon_mouse {
	position: fixed;
	background-color: white;
	padding: 10px;
	border-radius: 50%;
	width: 70px;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	left: 50%;
	bottom: 30px;
	transform: translateX(-50%);
	background-color: #273645;
	background-color: transparent;
	z-index: 0;
}



// @-webkit-keyframes pulse {
//     from   {
//             background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 50%);
//             opacity:1;
//         }
//     to {
//             background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 50%);
//             opacity:0.5;
//         }
// }

// @-moz-keyframes pulse {
//     from   {
//             background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 50%);
//             opacity:1;
//         }
//     to {
//             background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0) 50%);
//             opacity:0.5;
//         }
// }

// body{
//     margin: 0;
//     padding: 0;
//     background: #252525;
// }

// .star {
//     margin: 20px;
//     padding:100px;
//     width: 200px;
//     height:200px;
//      -webkit-animation: pulse 2s ease-in-out infinite alternate;
//      -moz-animation:    pulse 2s ease-in-out infinite alternate;
// 	 width: 100%;
// 	 height: 100%;
// }
