html,
body,
#root {
	height: 100%;
}

body {
	color: white;
	margin: 0;
	padding: 0;
	height: 100%;
	background-image: url("./pattern.jpg");
	background-repeat: repeat;
	background-position: center center;
	background-color: #010103;
	background-size: 400px 400px;
	font-size: 18pt;
	color: rgb(142, 142, 142);
	font-family: 'Arial', sans-serif;
	font-family: 'Neucha', sans-serif;
	letter-spacing: 1px;
	font-weight: lighter;
}

a {
	color: yellow;
	text-decoration: none;
}

h1,
h2,
h3,
small {
	margin-bottom: 0;

	color: #88C346;

	&:first-child {
		margin-top: 0;
	}
}

p {
	&:last-child {
		margin-bottom: 0;
	}
}
